/* 
    Document   : default.js
    Created on : Nov 13, 2012, 11:10:11 PM
    Author     : goker.cebeci
*/
* {
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */
    box-sizing: border-box; /* css3 rec */
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #21262B;
    font: 11px/1.5 arial, sans-serif;
}

a { 
    color: #21262B;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer; 
}
a:hover { 
    text-decoration: underline;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: rgba(255, 255, 255, .9);
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    background: #21262B;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

article {
    margin: 40px auto 60px auto;
    padding: 0 20px 10px;
    width: 400px;
    background: #fff;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
    width: 100%;
    height: 60px;
    line-height: 1;
    text-align: justify;
    background-color: #FCC71F;
}

#developer {
    color: #333;
    text-align: right;
}

#mode {
    position: absolute;
    right: 20px;
    top: 0;
    color: #ddd;
}

.colums {
    margin: 0 -10px;
}
.half {
    float: left;
    padding: 10px;
    width: 50%;
}

label {
    clear: both;
    display: block;
}

input, select, textarea {
    outline: none;
    display: inline-block;
    margin: 4px 0;
    padding: 8px;
    width: 100%;
    border: 1px solid #bbb;
    box-shadow: inset rgba(34, 25, 25, .2) 0 1px 3px;
    border-radius: 8px;
    background-color: #fff;
}

option {
    box-shadow: inset rgba(34, 25, 25, .2) 0 1px 3px;
    background-color: #fff;    
}

.content {
    margin: 12px 0;
    padding: 12px;
    width: 280px;
    font: 12px/1em 'Droid Sans', sans-serif;
    height: 48px;
    box-shadow: inset rgba(34, 25, 25, .2) 0 1px 3px,  #999 0 .1em 3px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
}

.hide {
    display: none;
}
.show {
    display: block;
}

#container {
    padding: 10px 0;
    text-align: center;
}

/*
    I used a little bit CSS from BonBon Buttons
    original source is under http://lab.simurai.com/buttons/
*/
.button.orange:hover {
    background-color: #FFC14D;
}
.button:hover {
    text-decoration: none;
    background-color: #D4D4D4;
}
.button.orange {
    color: #996300 !important;
    background-color: #FFA600;
    box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, /* inner shadow */ #CC8500 0 .1em 3px, #996300 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
}
.button {
    text-decoration: none;
    font: 24px/1em 'Droid Sans', sans-serif;
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .5em .6em .4em .6em;
    margin: .5em;
    display: inline-block;
    position: relative;
    border-radius: 8px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255, 255, 255, 0) ), to( rgba(255, 255, 255, 0.7) ));
    background-image: -moz-radial-gradient(top, ellipse cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255, 255, 255, 0) ), to( rgba(255, 255, 255, 0.7) ));
    transition: background .2s ease-in-out;
    color: #666 !important;
    background-color: #BFBFBF;
    box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, /* inner shadow */ #999 0 .1em 3px, #737373 0 .3em 1px, /* color border */ rgba(0, 0, 0, 0.2) 0 .5em 5px;
}
.button::before {
    font: 1.2em/0 sans-serif;
    content: attr(data-icon);
    margin-right: 0.4em;
}
.button:focus {
    outline: none;
    color: rgba(254,255,255,0.9) !important;
    text-shadow: rgba(0,0,0,0.2) 0 1px 2px;
    text-decoration: none;
}
.button:active {
    background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ));
    background-image: 	-moz-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ));
    background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) ));
    box-shadow: 		inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
        rgba(0,0,0,0.4) 0 .1em 1px, /* border */
        rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
    -webkit-transform: 	translateY(.2em);
    -moz-transform: 	translateY(.2em);
    transform: 			translateY(.2em);
}
/* icon only */
.icon {
    font-weight: normal;
    font-style: normal;
    text-indent: 	-999em;
}
.icon:before { 
    margin-right: 	0;
    display: 		block;
    height: 		0;
    text-indent: 	0px;
    line-height:    .75em;	
}



